.card {
    background-color: var(--card-bg-color);
    max-width: 300px;
    display: flex;
    flex-direction: column;
    
    row-gap: 10px;
}

.card--title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card--desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card--buttons {
    display: flex;
    justify-content: space-evenly;
}

.card--buttons > button {
    padding: 1rem;
}